.containerheader {
    max-width: 1120px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.background_img {
    width: 610px;
    align-items: flex-start;
}